<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Counters</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Counter</h1>
	<h4><%= counter %> times</h4>
	<div>
		<form action="/add2" method="POST">
			<button>+2</button>
		</form>
		<form action="/reset" method="POST">
			<button>reset</button>
		</form>
	</div>
</body>
</html>