<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Edit Animal</title>
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="shortcut icon" href="">
</head>
<body>
<fieldset>
	<legend>New animal</legend>
	<form action="/mongooses" method="POST">
		<label>Animal name:</label>
		<input type="text" name="name">
		<br>
		<label>Number of Legs:</label>
		<input type="number" name="numLegs">
		<br>
		<button>submit</button>
	</form>
</fieldset>
</body>
</html>