<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center">Dallas TX</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <p>Humidity: {{humidity}}</p>
        <p>Temperature (average): {{temp}}</p>
        <p>Temperature (max): {{maxTemp}}</p>
        <p>Temperature (min): {{minTemp}}</p>
        <p>Status: {{clouds}}</p>
    </div>
    <div class="col-lg-6">
        <img class="img-fluid img-thumbnail" src="https://static.pexels.com/photos/280193/pexels-photo-280193.jpeg" alt="dallas">
    </div>
</div>