<div class="row">
    <div class="col-lg">
        <h4>Farm</h4>
        <br>
        <p>Earn 2 - 5 Gold</p>
        <br>
        <button (click)="earn(5, 2, 'farm')" class="btn btn-success">Farm!</button>
    </div>
    <div class="col-lg">
        <h4>Cave</h4>
        <br>
        <p>Earn 5 - 10 Gold</p>
        <br>
        <button (click)="earn(10, 5, 'cave')" class="btn btn-success">Cave!</button>
    </div>
    <div class="col-lg">
        <h4>Casino</h4>
        <br>
        <p>Earn up to or Lose up to 100 Gold</p>
        <br>
        <button (click)="earn(100, -100, 'casino')" class="btn btn-success">Casino!</button>
    </div>
    <div class="col-lg">
        <h4>House</h4>
        <br>
        <p>Earn 7 - 15 Gold</p>
        <br>
        <button (click)="earn(15, 7, 'house')" class="btn btn-success">House!</button>
    </div>
</div>